body{
    /* background-color: #fff8f8; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'cairo', sans-serif;
    text-decoration: none;
    background-color: #fff8f8;
}


header{
    background-color: #fff8f8;
    padding: 10px 80px;
    padding-left: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between; 
    overflow: hidden;

}
header .logo img{
    width: 180px;
    margin-left:200px ;
    margin-top: 10px;
}
header ul{
    display: flex;
    list-style-type: none;

}
header ul a{
   
    color: #296e6c;
    text-decoration: none;
    display: inline-block;
    direction: rtl;
    margin-left: 55px;
    font-size: 18px;
    font-weight: 800;
}
header ul a:hover{
    color: #f95652;
   
}
.container{
    width: 100%;
    height: 800px;
    direction: rtl;
    display: flex;
    background-image: url(images/Background.png);
    /* background-color: black; */
    background-size: contain;
    background-repeat: no-repeat;
    /* border: #f95652 2px solid; */
    border: 2px solid red;
    overflow: hidden;
    
}
.container .text{
    padding-top: 10%;
    padding-right: 400px;
}
.container .text h1{
    color: #296e6c;
    font-weight: 800;
    font-size: 50px;
    
}
.container .text h2{
    color: #fc413d;
    font-size: 30px;

}
.container .text p{
    color: rgb(82, 82, 82);
    font-weight: 600;
}
.container .text button{
    background-color: #f95652;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    border: 0;
    color: white;
    font-family: cairo;
    margin-right: 100px;
    position: absolute;
    margin-top: 20px;
}
.container .text button:hover{
    background-color: #fc2b28;
}
.midlecontanier {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    display: flex;
    direction: rtl;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between; 
    /* border: #f95652 2px solid; */
    width: 100%;
    height: 500px;
    background-color:#fffdfd;
    /* background-color: #fff8f8; */
    border: 2px solid red;
    overflow: hidden;

    
}
.midlecontanier .content{
margin: 80px;
padding: 100px;
}
.midlecontanier .content h2{
    color: #fc413d;
    font-size: 20px;

   
}
.midlecontanier .content h1{
    color: #296e6c;
    font-weight: 800;
    font-size: 40px;
}
.midlecontanier .content p{
width: 100%;
color: rgb(82, 82, 82);
font-weight: 600;
}
.midlecontanier img{
    width: 700px;
    margin: 60px;
    padding-left: 50px;
    padding-top:50px;
}
.midlecontanier button{
    background-color: #fed9d8;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    font-size: 20px;
    border: 0;
    color: #f9433e;
    font-family: cairo;
    margin-right: 100px;
    position: absolute;
    margin-top: 20px;
}
.midlecontanier button:hover{
    background-color: #f8bcba;
}
.thirdcontainer{
    text-align: center;
    width: 100%;
    height: 780px;
    border: 2px solid red;
    overflow: hidden;
    
}
.thirdcontainer text{

}
.thirdcontainer  h1{
color: #296e6c;
font-size: 50px;
font-weight: 800;
margin-top: -30px;
margin-bottom: -20px;

}
.thirdcontainer h2{
    color: #f9433e;
font-weight: 600;
}
.thirdcontainer text p{
    color: #626262;
}
.downcols{
    display: flex;
    /* margin: 30px; */
    align-items: center;
    text-align: center;
    /* justify-content: space-between;  */
    /* flex-wrap: nowrap; */
    /* border: 2px solid red; */
    width: 100%;
    height: 500px;
    justify-content: center;
    background-image: url(images/BG2.png);
    background-size: contain;
    padding-bottom: 50px;
    overflow: hidden;
    
    
}
.downcols .col{
    /* border: 2px solid black; */
    width: 300px;
    height: 450px;
    border-radius: 30px;
    background-color: #f7eded;
    box-shadow: rgba(0, 0, 0, 0.456) 0px 0px 10px;
    margin: 30px;
    overflow: hidden;
    transition: .2s;

}
.downcols .col:hover{
    border-bottom:  solid 5px #f9433e;
   
}
.downcols .col img{
    width: 300px;
    margin: auto;
    padding-bottom: 40px;

}
.downcols .col  h1{
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 20px;
}
.downcols .col p{
    color: #626262;
    font-weight: 500;
}
.downcols .col .photo2 img{
    width: 300px;
    margin: auto;
    margin-top: 0;
    padding-top: -5;
}

.contanirfour{
    margin-top: 50px;
    display: flex;
    /* margin: 30px; */
    /* align-items: center; */
    text-align: center;
    /* justify-content: space-between;  */
    /* flex-wrap: nowrap; */
    /* border: 2px solid red; */
    width: 100%;
    height: 700px;
    justify-content: center;
    background-image: url(images/BG2.png);
    background-size: cover;
    background-repeat: repeat;
    overflow: hidden;
   
    padding-bottom: 50px;
    flex-direction: column;
    /* border: 2px solid red; */
    /* border: 2px solid red; */
    border: 2px solid red;
    

}
.contanirfour text{
/* margin-top: 300px; */
}
.contanirfour .text h1{
color: #296e6c;
font-size: 60px;
font-weight: 800;
margin-top: -30px;
margin-bottom: -20px;

}
.contanirfour .text h2{
    color: #f9433e;
font-weight: 600;
font-size: 30px;
margin-top: 80px;


}
.contanirfour .text p{
    color: #626262;
    margin-bottom: 50px;
}
.contanirfour .img1{
    width: 70%;
}
.contanirfour .img2{
    position: absolute;
    width: 180px;
    left: 400px;
    transition: .4s;
}
.contanirfour .img2:hover{
    transform: scale(1.1);
    
}
.contanirfour .img3{
    position: absolute;
    width: 180px;
    left: 250px;
    top: 2820px;
    transition: .7s;
}
.contanirfour .img3:hover{
    transform: scale(1.1);
    transform: rotate(360deg);

}
.contanirfour .img4{
    position: absolute;
    width: 180px;
    left: 400px;
    top: 3030px;
    transition: .4s;
}
.contanirfour .img4:hover{
    transform: scale(1.1);
}
.contanirfour .img5{
    position: absolute;
    width: 180px;
    left: 1400px;
    top: 3030px;
    transition: .4s;
}
.contanirfour .img5:hover{
    transform: scale(1.1);
}

.contanirfour .img6{
    position: absolute;
    width: 180px;
    left: 1400px;
    top: 2600px;
    transition: .4s;
}
.contanirfour .img6:hover{
    transform: scale(1.1);
}


.contanirfour .img7{
    position: absolute;
    width: 180px;
    left: 1550px;
    top: 2820px;
    transition: .7s;
}
.contanirfour .img7:hover{
    /* transform: scale(1.1); */
    transform: rotate(360deg);

}


.containerfive {
    /* margin-top: 10px; */
    display: flex;
    /* margin: 30px; */
    /* align-items: center; */
    text-align: center;
    /* justify-content: space-between;  */
    /* flex-wrap: nowrap; */
    /* border: 2px solid red; */
    width: 100%;
    height: 2380px;
    /* justify-content: center; */
    /* background-image: url(images/BG3.png); */
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
   
    /* padding-bottom: 200px; */
    flex-direction: column;
    border: 2px solid red;
    
}

.containerfive .content{
    background-image: url(images/BG3.png);

}
.containerfive .text1{
   /* margin-right: 400px; */
}
.containerfive .text1 h1{
    color: #296e6c;
    font-size: 60px;
    font-weight: 800;
    margin-top: -30px;
    margin-bottom: -20px;
    
    }
    .containerfive .text1 h2{
        color: #f9433e;
    font-weight: 600;
    font-size: 30px;
    margin-top:150px;
    
    
    }
    .containerfive .text1 p{
        color: #626262;
        /* margin-bottom: 50px; */
    }
    .containerfive .content{
        display: flex;
        direction: rtl;
        align-items: center;
        margin-bottom: -100px;

    }
    .containerfive .content .title{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 20px;
    }
    .containerfive .content .icon{
    clip-path: circle(30px at center);
    background-color: #f95652;
        margin-left: 10px;
    }
    .containerfive .content img{
        transition: .5s;
    }
    .containerfive .content img:hover{
        transform: scale(1.1);
    }
    .containerfive .content h1{
        color: #296e6c;
        font-size: 50px;
        margin: auto;
    }
    .containerfive .content .text{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        margin-right: 20%;
    
    }
    .containerfive .content .text p{
        margin-right: 80px;
        
        width: 40%;
    }
    .containerfive .content .image img{
        width: 80%;
        margin-left: 500px;
    }
    .containerfive .content2 .image img{
        width: 80%;
        margin-right: 100px;
    }
    .containerfive .content2{
        display: flex;
        direction: rtl;
        align-items: center;
        margin-bottom: -100px;


    }
    .containerfive .content2 .title{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 20px;
    }
    .containerfive .content2 .icon{
    clip-path: circle(30px at center);
    background-color: #f95652;
        margin-left: 10px;
    }
    .containerfive .content2 h1{
        color: #296e6c;
        font-size: 50px;
        /* margin: auto; */
    }
    .containerfive .content2 .text{
        display: flex;
        flex-direction: column;
        /* align-items:flex-start; */
        margin-right: 20%;
    
    }
    .containerfive .content2 .text p{
        margin-right: 80px;
        
        width: 40%;
    }
    .containerfive .content2 .image img{
        width: 80%;
        margin-left: 500px;
    }
    .containerfive .content2 .image img{
        width: 80%;
        margin-right: 100px;
    }
      .containerfive .content2 img{
        transition: .5s;
    }
    .containerfive .content2 img:hover{
        transform: scale(1.1);
    }
    .countsix{
        /* position: relative; */
        width: 100%;
        height: 1000px;
    /* border: 2px solid red; */
    background-image: url(images/BG3.png);
        padding: 10px;
        background-size: cover;
    }
    .countsix img{
        /* margin-top: 300px; */
        margin-left: 200px;
        width: 80%;
    }
    .lastcontainer{
        position: relative;
        /* margin-top: 10px; */
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 390px;
        /* border: #f9433e 2px solid; */
    overflow: hidden;

    }
    .lastcontainer h1{
        color: #296e6c;
    font-size: 60px;
    font-weight: 800;
    margin-top: -30px;
    margin-bottom: -20px;
    padding-top: 30px;
    }

    .lastcontainer h2{
        color: #296e6c;
        font-weight: 600;
        font-size: 50px;
        
    }

    
    .lastcontainer input{
        background-color: white;
        border: 0;
        padding: 30px 90px;
        border-radius: 40px;
        margin: 30px;
    }
    .btn{
        position: relative;
    }
    .lastcontainer .btn button{
        background-color: #f9433e;
        font-size: 20px;
        border: 0;
        border-radius: 40px;
        padding: 20px 40px;
        position: absolute;
        /* left: 1010px;
        top: 6912px; */
        position:absolute;
    }
    footer{
        margin-top: 50px;
        height: 40px;
        width: 100%;
        background-color:#f8bcba10;
        padding: 10px 30px;
    overflow: hidden;

    }
    footer img{
        width: 120px;
    }
    footer p {
        color: rgba(0, 0, 0, 0.6);
        margin-right: 50%;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }